/* CSS Reset Code */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", sans-serif;
}


/*=========================
    Shared Style 
===========================*/
:root{
    --color-orange:#FEA301;
    --color-blue:#01ACFD;
    --color-pest:#05D4DF;
    --color-purple:#5D58EF;
}

.container{
    width:90%;
    max-width:1200px;
    margin:0 auto;
}






/*============================
    Header Section Design 
==============================*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0px;
}
.brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:8px;
    cursor: pointer;
}
.brand span{
    color:#000000;
    font-size:24px;
    font-weight:600;
}
.navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:24px; 
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size:17px;
    font-weight:600;
}
.nav-btn{
    padding:12px 24px;
    background-color: var(--color-orange);
    color:#ffffff;
    font-size:16px;
    font-weight:600;
    border:2px solid var(--color-orange);
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
}
.nav-btn:hover{
    background: transparent;
    color: var(--color-orange);
}


.hamberger-menu{
    display:none;
    font-size: 30px;
}



/* Banner Section */
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.banner-title{
    color: #000000;
    font-size:50px;
}
.banner-description{
    color: #000000;
    font-size:18px;
    margin-top:15px;
}
.banner-btn{
    background-color: #000000;
    padding:12px 24px;
    color: #ffffff;
    border: 2px solid #000000;
    font-size:16px;
    font-weight:600;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: 0.3s;
    cursor: pointer;
    margin-top:25px;
}
.banner-btn:hover{
    background: transparent;
    color:#000000;
}






/*============================
    Header Section Design 
==============================*/
#curriculum{
    margin:80px 0px;
    background-image:url(../images/bg.png);
    background-position: top;
    background-repeat: no-repeat;
}

.curriculum-title{
    text-align: center;
    color: #000000;
    font-size: 46px;
}

.curriculum-item{
    margin:80px 0px;
    display: flex;
    justify-content: center;
    gap:30px;
}
.curriculum-box-1{
    background: linear-gradient(to bottom, #DEF5FF, #FFFFFF);
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}
.curriculum-box-2{
    background: linear-gradient(to bottom, #FFF4DC, #FFFFFF);
}
.curriculum-box-3{
    background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
}

.box-title{
    color: #202020;
    font-size: 25px;
    margin:15px 0px;
}
.box-description{
    color: #808080;
    font-size: 16px;
    margin-bottom: 25px;
}
.box-link{
    color:#64C8FF;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.box-link-2{
    color: #F0AA00;
}
.box-title-2{
    margin-top: 25px;
}
.box-link-3{
    color:#8700FF;
}

.curriculm-arrow-btn{
    text-align: center;
}
.curriculm-arrow-btn i{
    background-color: var(--color-orange);
    padding:10px;
    border-radius: 48%;
    color:#ffffff;
    font-size: 16px;
    font-weight: 700;
}








/*============================
    Cart Section Design 
==============================*/
#cart{
    margin-top:80px;
    background-image:url(../images/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background: linear-gradient(to top, #f8deaf, #FFFFFF);
    
}

.cart-title{
    text-align: left;
    padding:0px 10px;
    color: #000000;
    font-size: 46px;
}
.cart-item-box{
    padding:80px 0px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}
.cart-item-box-one{
    background-color: #FFFFFF;
    border-radius: 5px;
}
.cart-item-box-two{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}
.story-img{
    width: 100%;
    border-radius:10px;
}
.btn-story{
    padding:12px;
    border-radius: 20px;
    font-size:16px;
    color: #ffffff;
    transform: translateY(-25px);
    margin-left: 25px;
}
.btn-story-1{
    background-color: #3CD8E8;
    border:1px solid #3CD8E8;
}
.cart-title{
    color: #000000;
    font-size: 24px;
    margin:20px 0px;
}
.cart-description{
    color: #666666;
    font-size: 16PX;
    padding:0px 20px;
}
.cart-box-item{
    padding-bottom:30px;
}
.box-btn-1{
    background-color: #95B226;
    border:1px solid #95B226;
    padding:10px;
}
.box-btn-2{
    background-color: #5D58F0;
    border:1px solid #5D58F0;
    padding:10px;
}
.box-btn-3{
    background-color: #5D58F0;
    border:1px solid #5D58F0;
    padding:10px;
}
.box-btn-4{
    background-color: #95B226;
    border:1px solid #95B226;
    padding:10px;
}
.title-box-2{
    font-size: 20px;
    margin:0px 0px 10px 0px;
    line-height:2rem;
}
.cart-btn{
    text-align: center;
    padding-bottom:40px;
}



/*============================
    Footer Section Design 
==============================*/

footer{
    background-color: #01ACFD;
}
.footer-content{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:50px;
    padding:80px 0px;
}
.footer-logo{
    display: flex;
    gap:10px;
    align-items: center;
}
.footer-logo h5{
    font-size: 32px;
    color:#ffffff;
    line-height: 40px;
}
.footer-part-logo p{
    margin-top: 20px;
    color:#ffffff;
    line-height: 24px;
}
.footer-nav-title{
    color: #ffffff;
    font-size:24px;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    /* gap:10px; */
}
.footer-nav-item{
    list-style: none;
    margin-top:20px;
    color:#ffffff;
    font-size: 18px;
    cursor: pointer;
}
.social-footer-icon{
    display: flex;
    gap:20px;
    margin-top:20px;
}
.social-footer-icon i{
    background-color:#3B5998;
    padding:5px;
    border-radius:5px;
    color:#ffffff;
    font-size:20px;
}
.globe-icon i{
    background-color: #EA4C89;
}
.twitter-icon i {
    background-color:#1DA1F2 ;
}
.google-icon i{
    background-color:#DD4B39;
}
.footer-part-navigation{
    text-align: center;
}






/*============================
    Media Query 
==============================*/

/* Smaller Device */
@media screen and (max-width:576px){
    nav{
        border-bottom: 2px solid var(--color-orange);
    }
    .brand span, .navlinks, .nav-btn{
        display: none;
    }
    .hamberger-menu{
        display: block;
    }

    .banner-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
    }
    .banner-description{
        font-size: 16px;
    }
    .banner-image{
        margin-top:40px;
    }
    .banner-image img{
        width: 100%;
    }

    .curriculum-title{
        font-size: 32px;
    }
    .curriculum-item{
        flex-direction: column;
    }
    .curriculm-arrow-btn{
        display: none;
    }

    .box-hide{
        display:none;
    }
    .cart-item-box{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-content{
        grid-template-columns:repeat(1, 1fr);
    }
    .footer-part-navigation{
        text-align:left;
    }

}







/* Medium */
@media screen and (min-width:576px) and (max-width:768px){
    nav{
        border-bottom: 2px solid var(--color-orange);
    }
    .navlinks{
        display: none;
    }

    .banner-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 32px;
    }
    .banner-description{
        font-size: 16px;
    }
    .banner-image{
        margin-top:40px;
    }
    .banner-image img{
        width: 100%;
    }

    .curriculum-title{
        font-size: 32px;
    }
    .curriculum-item{
        flex-direction: column;
    }

    .box-hide{
        display:none;
    }
    .cart-item-box{
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-content{
        grid-template-columns:repeat(1, 1fr);
    }
    .footer-part-navigation{
        text-align:left;
    }
}






/* Laptop */
@media screen and (min-width:768px) and (max-width:992px){
    .banner-content{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-title{
        font-size: 42px;
    }
    .banner-description{
        font-size: 17px;
    }
    .banner-image{
        margin-top:40px;
    }
    .banner-image img{
        width: 100%;
    }

    .cart-item-box{
        grid-template-columns: repeat(1, 1fr);
    }
}